<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.morkince.okasyonv2">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".activities.login_activities.MainActivity">

        </activity>
        <activity
                android:name=".activities.signup_organizer_activities.SignUpOrganizerPart1Activity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".activities.signup_supplier_activities.SignUpSupplierPart1Activity">
        </activity>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.signup_client_activities.SignUpUserPart1Activity">
        </activity>
        <activity
                android:name=".activities.signup_supplier_activities.SignUpSupplierPart2Activity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".activities.signup_supplier_activities.SignUpSupplierPart3Activity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".activities.signup_client_activities.SignUpUserPart2Activity">
        </activity>
        <activity android:name=".activities.signup_client_activities.SignUpUserSummaryActivity">
        </activity>
        <activity android:name=".activities.PlaceHolderActivity">
        </activity>
        <activity android:name=".activities.signup_supplier_activities.SignUpSupplierPart4Activity">
        </activity>
        <activity android:name=".activities.client_activities.Client_Create_Event"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan">

        </activity>

        <activity android:name=".activities.client_activities.Client_Set_Preference"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".activities.homepages_for_supplier_client.ClientHomePage"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".activities.homepages_for_supplier_client.SupplierHomePage"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".activities.homepage_supplier_activities.HomePage_Supplier_Activity"
                android:label="@string/title_activity_home_page__supplier_"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".activities.homepage_supplier_activities.AddItem_Supplier_activity">
        </activity>
        <activity android:name=".activities.ocr_activities.ocr_supplier_registration">

        </activity>

        <meta-data
                android:name="com.google.android.gms.vision.DEPENDENCIES"
                android:value="ocr,face,barcode"/>

    </application>

</manifest>