<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.morkince.okasyonv2">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="okasyonv3"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".activities.login_activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.signup_client_activities.SignUpClientPart1Activity">
        </activity>
        <activity android:name=".activities.signup_organizer_activities.SignUpOrganizerPart1Activity">
        </activity>
        <activity android:name=".activities.signup_supplier_activities.SignUpSupplierPart1Activity">
        </activity>
        <activity android:name=".activities.signup_client_activities.SignUpClientPart2Activity">
        </activity>
        <activity android:name=".activities.signup_client_activities.SingUpSummaryClientActivity">
        </activity>
        <activity
                android:name=".activities.homepage_supplier_activities.HomePage_Supplier_Activity"
                android:label="@string/title_activity_home_page__supplier_"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".activities.homepage_supplier_activities.AddItem_Supplier_activity">
        </activity>
        <activity android:name=".activities.homepage_supplier_activities.Transaction_Supplier_Activity">
        </activity>
    </application>

</manifest>