<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.morkince.okasyonv2">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:hardwareAccelerated="false"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:largeHeap="true"
            android:theme="@style/AppTheme">
        <activity android:name=".testingImageSlider">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.login_activities.MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".activities.signup_organizer_activities.SignUpOrganizerPart1Activity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".activities.signup_supplier_activities.SignUpSupplierPart1Activity">
        </activity>
        <activity
                android:name=".SplashScreen"
                android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".activities.signup_client_activities.SignUpUserPart1Activity">
        </activity>
        <activity
                android:name=".activities.signup_supplier_activities.SignUpSupplierPart2Activity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".activities.signup_supplier_activities.SignUpSupplierPart3Activity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".activities.signup_client_activities.SignUpUserPart2Activity">
        </activity>
        <activity android:name=".activities.signup_client_activities.SignUpUserSummaryActivity">
        </activity>
        <activity android:name=".activities.PlaceHolderActivity">
        </activity>
        <activity android:name=".activities.signup_supplier_activities.SignUpSupplierPart4Activity">
        </activity>
        <activity
                android:name=".activities.client_activities.Client_Create_Event"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".activities.client_activities.Client_Set_Preference"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".activities.client_activities.Client_Set_Preference_Summary"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".activities.client_activities.ClientHomePage"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".activities.homepage_supplier_activities.SupplierHomePage"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".activities.homepage_supplier_activities.HomePage_Supplier_Activity"
                android:label="@string/title_activity_home_page__supplier_"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".activities.homepage_supplier_activities.AddItem_Supplier_activity">
        </activity>
        <activity android:name=".activities.homepage_supplier_activities.Transaction_Supplier_Activity"/>
        <activity android:name=".Content_Home_Page_Supplier">
        </activity>
        <activity android:name=".Select_Multiple_Images">
        </activity>

        <meta-data
                android:name="com.google.android.gms.vision.DEPENDENCIES"
                android:value="ocr,face,barcode"/>

        <activity android:name=".View_Store_Items">
        </activity>
        <activity
                android:name=".activities.client_activities.EventDetailsActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".activities.client_activities.FoundEventDetailsActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".activities.client_activities.ClientItemDetailActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".activities.homepage_supplier_activities.SupplierEditItemDetailsActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".testingphase.testingpart">
        </activity>
        <activity android:name=".activities.client_activities.ClientViewItemsActivity">

            <!-- android:parentActivityName=".activities.homepage_supplier_activities.HomePage_Supplier_Activity"> -->
        </activity>
        <activity android:name=".activities.Homepage_organizer_activities.Activity_Vieworganizer">
        </activity>
        <activity android:name=".GetStoreDirections">
        </activity>
        <activity android:name=".SupplierAddItem">
        </activity>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key"/>
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>

        <activity
                android:name=".activities.client_activities.ClientViewCartActivty"
                android:parentActivityName=".activities.homepage_supplier_activities.HomePage_Supplier_Activity">
        </activity>
        <activity android:name=".activities.ocr_activities.ocr_supplier_registration">
        </activity>
        <activity android:name=".activities.chat_activities.LatestMessagesActivity"/>
        <activity android:name=".activities.chat_activities.NewMessagesActivity"/>
        <activity android:name=".activities.chat_activities.MaxImageActivity"/>
        <activity android:name=".activities.chat_activities.ChatLogActivitiy"/>
    </application>

</manifest>